.DS_Store
.idea
.vscode
GPT_SoVITS_*
GPT_weights
GPT_weights_v2
LTM_Manager_*.py
SoVITS_weights
SoVITS_weights_v2
TEMP
VTS_Plugin
__pycache__
*copy.py
*copy*.py
*.csv
*.index
*.ini
*.jsonl
*.log
*.pyc
*.pth
*.ckpt
*.whl
*정석*.txt
*api*.json
# *.wav
bookmark.txt
character*.txt
csv_data
core/tools/webscrap/apikey.txt
dataset_logs
data/ltm_data
data/ltm_retrieval_test
data/speech_refer_data
data/speech_refer_runtime_data
# plz download models before use + voice sample.txt & audio.wav file
data/voice_model/*
data/model/*
data/finance
env
ffmpeg*
ffprobe*
gemini*.txt
infer_script*.py
infer_v2*.py
keywords.json
kss*.txt
logs
# neuro-sama.txt
new_path*.md
model/*
output
ref*.txt
ref_data
reference
results
runtime
summary_memory*.txt
tests/*
tests/modeltest/*
test_*.txt
# tts_test.py
upload_datasets.py
upload_model.py
weight.json
원시데이터.md

.claude
.gstack
.agents
conversation.txt
*.whl